.boton {
  background-color: transparent;
  background: no-repeat center;
  border: none;
  inline-size: 2em;
  block-size: 2em;
  margin: 0.5rem;
  cursor: pointer;
}
.boton:active {
  transform: scale(0.9);
}
#play {
  background-image: url(../images/play.svg);
}
#pause {
  background-image: url(../images/pause.svg);
}
#backward {
  background-image: url(../images/-10.svg);
}
#forward {
  background-image: url(../images/+10.svg);
}
